
p Hallo #{username},
  br
p in 3 Tagen wird Ihre Veranstaltung "#{eventname}" gelöscht. Bitte stellen Sie sicher, dass wichtige Ergebnisse exportiert sind.
  br
p Mit freundlichen Grüßen
  br
  | #{organisation}
  br
p 
    a(href=imprint) Impressum 
    |&nbsp;
    a(href=dataprotection) Datenschutz