p Sie wurden zur Veranstaltung "#{event.title}" eingeladen.
p
  a(href=tokenUrl target="_blank") Hier klicken, um die Registrierung anzuschließen
  br
p Bei technischen Schwierigkeiten melden Sie sich bitte bei 
  a(href=adminmail) #{adminmail}
  br
p Mit freundlichen Grüßen
  br
  | digitalwahl.org
  br
p 
    a(href=imprint) Impressum 
    |&nbsp;
    a(href=dataprotection) Datenschutz