p Der Zugang des Nutzers #{username} ist freigeschaltet
p
  a(href="https://digitalwahl.org" target="_blank") Jetzt einloggen und Ihr Event anlegen
  br
p Bei technischen Schwierigkeiten melden Sie sich bitte bei 
  a(href=adminmail) #{adminmail}
  br
p Mit freundlichen Grüßen
  br
  | digitalwahl.org
  br
p 
    a(href=imprint) Impressum 
    |&nbsp;
    a(href=dataprotection) Datenschutz