p #{username} Anforderung zur Wiederherstellung des Passworts.
p Bitte klicken Sie auf den folgenden Link um Ihr Passwort wiederherzustellen:
p
  a(href=link target="_blank") Link zur Passwortwiederherstellung
p Sie können auch den Text kopieren und in Ihren Browser einfügen #{link}
  br
p Falls Sie sich nicht angemeldet haben ist diese E-Mail gegenstandslos und wird in Kürze automatisch aus unserem System entfernt.
  br
p Mit freundlichen Grüßen
  br
  | #{organisation}
  br
p 
    a(href=imprint) Impressum 
    |&nbsp;
    a(href=dataprotection) Datenschutz