p Vielen Dank #{username} für die Registrierung.
p Bitte bestätigen Sie Ihre E-Mail Adresse mit dem Aufruf des folgenden Links:
p
  a(href=link target="_blank") Link zu Bestätigung
p Sie können auch den Text kopieren und in Ihren Browser einfügen #{link}
  br
p Nach der Registrierung erhält der Administrator eine Benachrichtigung und schaltet nach Prüfung Ihrer Angaben den registrierten Account frei.
p Nach Freischaltung erhalten Sie eine Benachrichtigung per E-Mail. Sobald der Account freigeschaltet ist können Sie digitalwahl.org uneingeschränkt verwenden.
p Bei technischen Schwierigkeiten melden Sie sich bitte bei 
  a(href=adminmail) #{adminmail}
p Falls Sie sich nicht angemeldet haben ist diese E-Mail gegenstandslos und wird in Kürze automatisch aus unserem System entfernt.
  br
p Mit freundlichen Grüßen
  br
  | #{organisation}
  br
p 
    a(href=imprint) Impressum 
    |&nbsp;
    a(href=dataprotection) Datenschutz