p Vielen Dank #{username} für die Registrierung bei digitalwahl.org
p Bitte bestätigen Sie Ihre E-Mail Adresse mit dem Aufruf des folgenden Links:
p
  a(href=link target="_blank") Link zu Bestätigung
p Sie können auch den Text kopieren und in Ihren Browser einfügen #{link}
  br
p Bei technischen Schwierigkeiten melden Sie sich bitte bei 
  a(href="mailto:info@digitalwahl.org") info@digitalwahl.org
p Falls Sie sich nicht bei der Plattform digitalwahl.org angemeldet haben ist diese E-Mail gegenstandslos und wird in Kürze automatisch aus unserem System entfernt.
  br
p Mit freundlichen Grüßen
  br
  | digitalwahl.org
  br
p 
    a(href=imprint) Impressum 
    |&nbsp;
    a(href=dataprotection) Datenschutz